.body-container {
    background-color: rgb(11, 42, 68);
}

.container {
    text-align: center;
}

.ResumeImg {
    margin-top: 80px;
    width: 700px; /* Set the width to the actual image width */
    height: 800px; /* Set the height to the actual image height */
}

.button-container {
    margin-left: 320px;
}

.back-button {
    color: white;
    background-color: rgb(11, 42, 68);
    border-radius: 12px;
    border: 2px solid #0cff20;
    cursor: pointer;
    font-size: 30px;
    margin-top: 30px;
    margin-right: 20px; /* Add margin between the buttons */
}

.download-button {
    color: white;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    font-size: 30px;
    margin-top: 30px;
    background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
}


@media (max-width: 768px) {
    /* Styles for screens up to 768px wide (e.g., tablets) */
    .ResumeImg {
        width: 100%; /* Set the image width to 100% of the container */
        height: auto; /* Let the height adjust automatically */
    }

    .button-container {
        margin-left: 0;
        text-align: center;
    }

    .back-button,
    .download-button {
        margin-right: 0;
        margin-bottom: 10px; /* Add spacing between the buttons */
    }
}

@media (max-width: 480px) {
    /* Styles for screens up to 480px wide (e.g., mobile phones) */
    .button-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .back-button,
    .download-button {
        width: 100%;
    }
}
